
@media  sreen and (min-width:576px) {
   
    


}

body{
    background-color: gray;
    display: flex;
    justify-content: center;
}

.tab_menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 6.875rem;
}
.tab_menu button i {
    font-size: 1.4rem;
}
.pictures img{
    height: 12.5rem;
    width:30rem;
}
form i {
    color: #fff;
}
li i {
    color: #fff;
    font-size: 1.3rem;
}

#pBar-orange{
    color:rgb(255, 139, 30)
}

.modal{ 
    cursor:pointer;
}